.capacity {
  display: inline-flex;
  align-items: flex-start;

  &::before{
    content: "";
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.capacity__wrapper {
  max-width: 394px;
}

.capacity__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $heading-color;
}

.capacity__text {
  margin: 0;
  line-height: 24px;
}

.capacity--award {
  &::before{
    background-image: url("../img/award.svg");
  }
}

.capacity--potential {
  &::before{
    background-image: url("../img/potential.svg");
  }
}

.capacity--leaders {
  &::before{
    background-image: url("../img/leaders.svg");
  }
}

.capacity--security {
  &::before{
    background-image: url("../img/security.svg");
  }
}

