.capacity {
  display: inline-flex;
  align-items: flex-start;

  &::before{
    content: "";
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.capacity__wrapper {
  max-width: 394px;
}

.capacity__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $heading-color;
}

.capacity__text {
  margin: 0;
  line-height: 24px;
}

.capacity--award {
  &::before{
    background-image: url("../img/award.svg");
  }
}

.capacity--potential {
  &::before{
    background-image: url("../img/potential.svg");
  }
}

.capacity--leaders {
  &::before{
    background-image: url("../img/leaders.svg");
  }
}

.capacity--security {
  &::before{
    background-image: url("../img/security.svg");
  }
}

.capacity__logos-list {
  max-width: 672px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.capacity__logos-item:not(:last-child) {
  margin-bottom: 41px;
}

.capacity__logos-item:nth-child(1) {
  max-width: 126px;
  margin-right: 119px;
}

.capacity__logos-item:nth-child(2) {
  max-width: 164px;
  margin-right: 101px;
}

.capacity__logos-item:nth-child(2) .capacity__logos-img{
  margin-bottom: 54px;
}

.capacity__logos-item:nth-child(3) {
  max-width: 162px;
  margin-right: 0;
}

.capacity__logos-item:nth-child(4) {
  max-width: 184px;
  margin-right: auto;
  margin-left: auto;
}

.capacity__logos-img {
  display: block;
}

.capacity__logos-text {
  margin: 0;
  margin-top: 32px;
  line-height: 19px;
  text-align: center;
  color: $text-color;
}
