.site-header {
  padding: 31px 0;
}

.site-header__container {
  max-width: 1380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo-link {
  display: block;
  margin-right: 280px;
}

.site-header__logo-img {
  max-width: 263px;
  max-height: 44px;
  display: block;
}

@media only screen and (max-width: 1140px) {
  .site-header {
    padding: 20px 0;
  }

  .site-header__container {
    max-width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-header__logo-link {
    display: block;
    margin-right: 50px;
  }

  .site-header__logo-img {
    min-width: 236px;
    max-width: 236px;
    height: 44px;
    display: block;
  }
}

@media only screen and (max-width: 660px) {

  .site-header__container {
    max-width: 800px;
    flex-wrap: wrap;
  }

  .site-header__logo-link {
    margin-right: 0;
    margin-bottom: 20px;
  }

}